<form #f="ngForm" (ngSubmit)="addComment(f.value, f)">
  <h2>Add new Comment</h2>
    <div>
      <label for="Text">Text</label>
      <input type="text" name="Text" ngModel>
    </div>
    <div>
      <label for="Grade">Grade</label>
      <input type="text" name="Grade" ngModel>
    </div>
    <div>
     <label for="User">User(ne biraj admina ako boga znas)</label>
     <select class="form-control" name="User" ngModel><!--required [(ngModel)]="AccommodationTypeId"-->
        <option *ngFor="let u of appUser" [ngValue]="u">{{u.Username}}</option>
     </select>
    </div>
    <div>
     <label for="Accommodation">Accommodation</label>
     <select class="form-control" name="Accommodation" ngModel><!--required [(ngModel)]="AccommodationTypeId"-->
        <option *ngFor="let a of acc" [ngValue]="a">{{a.Name}}</option>
     </select>
    </div>
     <input type="submit" value="Submit">
  </form>