<form #f="ngForm" (ngSubmit)="addRoom(f.value, f)">
  <h2>Add new Room</h2>
    <div>
      <label for="RoomNumber">RoomNumber</label>
      <input type="text" name="RoomNumber" ngModel>
    </div>
    <div>
      <label for="BedCount">BedCount</label>
      <input type="text" name="BedCount" ngModel>
    </div>
    <div>
      <label for="Description">Description</label>
      <input type="text" name="Description" ngModel>
    </div>
    <div>
      <label for="PricePerNight">PricePerNight</label>
      <input type="text" name="PricePerNight" ngModel>
    </div>
    <div>
     <label for="Accommodation">Accommodation</label>
     <select class="form-control" name="Accommodation" ngModel><!--required [(ngModel)]="AccommodationTypeId"-->
        <option *ngFor="let a of accommodations" [ngValue]="a">{{a.Name}}</option>
     </select>
    </div>
     <input type="submit" value="Submit">
  </form>