<h2>
  {{title}}
</h2>

<button (click)="goToAccommodation()">Accommodations</button>
<button (click)="goToAccommodationType()">AccommodationTypes</button>
<button (click)="goToPlace()">Places</button>
<button (click)="goToRegion()">Regions</button>
<button (click)="goToCountry()">Countries</button>
<button (click)="goToRoom()">Rooms</button>
<button (click)="goToRoomReservation()">RoomReservations</button>
<button (click)="goToComment()">Comments</button>
<button (click)="goToUser()">Users</button>


<router-outlet></router-outlet>