
<!--p><strong>Username:</strong></p>

<p><input maxlength="30" type="text" /></p>

<p><strong>Password:</strong></p>

<p><input maxlength="30" type="text" /></p>

<p><input name="Login" type="button" value="Login" /></p-->

<h1>
  {{title}}
  <div *ngIf="!isLoggedIn()">
    <button (click)="logIn()">Log In!</button>
    
  </div>
  <div *ngIf="isLoggedIn()">
    <button (click)="logOut()">Log Out!</button>
  </div>
<button (click)="goToAccommodation()">acc In!</button>
<button (click)="goToAccommodationType()">accType In!</button>
<button (click)="goToPlace()">places</button>
<button (click)="goToRegion()">regions</button>
<button (click)="goToCountry()">countries</button>
<button (click)="goToRoom()">rooms</button>
  
</h1>
<!--html>
  <body>
      <nav><a routerLink="/accommodations" routerLinkActive="active">Accommodations</a></nav>

  <router-outlet></router-outlet>
  
  </body>
</html-->
<router-outlet></router-outlet>