
<!--p><strong>Username:</strong></p>

<p><input maxlength="30" type="text" /></p>

<p><strong>Password:</strong></p>

<p><input maxlength="30" type="text" /></p>

<p><input name="Login" type="button" value="Login" /></p-->

<h1>
  {{title}}
  <div *ngIf="!isLoggedIn()">
    <button (click)="logIn()">Log In!</button>
  </div>
  <div *ngIf="isLoggedIn()">
    <button (click)="logOut()">Log Out!</button>
  </div>

  <nav>
      <a routerLink="/accommodations" routerLinkActive="active">Accommodations</a>
    </nav>
  <!--ol>
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/about/1']">About</a></li>
    <li><a [routerLink]="['/other']">Other</a></li>
  </ol>

  <router-outlet></router-outlet-->
</h1>
<router-outlet></router-outlet>
