<div *ngIf="user">
  <h2>{{user.Name}} details!</h2>
  <div>
    <label>id: </label>{{acc.Id}}</div>
  <div>
    <label>Username: </label>
    <input [(ngModel)]="user.Username" placeholder="Username" />
  </div>
  <div>
    <label>Password: </label>
    <input [(ngModel)]="user.Password" placeholder="Password" />
  </div>
  <div>
    <label>Email: </label>
    <input [(ngModel)]="user.Email" placeholder="Email" />
    </div>
  
  <button (click)="goBack()">Back</button>
  <button (click)="updateUser()">Save</button>
</div>
